#root {
  margin: 0 auto;
  text-align: center;

  --light-grey:#999999;
  --grey:#5B5B5B;
  --dark-grey: #1e1d1d;
  --purple: #3d1b5e;
  --deep-purple: #30124d;
}
 body {
  background-color: #1e1d1d;
  margin: 0;
}


