.balance-info,
.balance-display,
.balance-buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.balance-info {
  padding-block: 1rem 1.5rem;
  background-color: var(--dark-grey);  
  border: 0.0625rem solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  box-shadow: inset 0 0 0.625rem var(--grey);
}

.balance-buttons-wrapper {
  flex-direction: row;
}

.balance-display h2 {
  margin-block: 0 1.125rem;
}
