.balance-display,
.balance-buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.balance-buttons-wrapper,
.balance-display-wrapper {
  width: 50%;
}


